{% extends "gym/base.html" %}
{% block pagecontent  %}
{% load static %}




<header class="masthead" style="background-image: url('/static/gym/img/thank.jpg')" >
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
  
          </div>
        </div>
      </div>
    </div>
  </header>


<div class="jumbotron text-center">
    <img class="thank" src="{% static 'gym/img/tick22.jpg'%}" height="50px" width="50px">
    <h1 class="display-3"><strong>Thank You!</strong></h1>
    <p class="lead"><strong>Thanks for contacting us</strong> for further instructions we will notify you back.</p>
    <hr>
    <p>
      Having trouble? <a href="/gym/contact">here is our address</a>
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-sm" href="/gym" role="button">Continue to homepage</a>
    </p>
  </div>









{% endblock %}
